  * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }
   
   .box {
       background-image: url(images/background\ pic.jpeg);
       /*margin: 100px;*/
       background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
   }

   .boxTwo {
        background-image: url(images/half\ sun.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxThree {
        background-image: url(images/Full\ Mercury.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxfour {
        background-image: url(images/Venus.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxFive {
        background-image: url(images/Earth.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
        
    }

    .boxSix {
        background-image: url(images/Mars.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxSeven {
        background-image: url(images/Ceres.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxEight {
        background-image: url(images/Jupiter.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxNine {
        background-image: url(images/Saturn.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxTen {
        background-image: url(images/Uranus.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxEleven {
        background-image: url(images/Neptune.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxTwelve {
        background-image: url(images/Pluto.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxThirteen {
        background-image: url(images/Eris.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

    .boxFourteen {
        background-image: url(images/Moon.jpeg);
        /*margin: 100px;*/
        background-size: cover; /*ensures the image scales to cover the entire div*/
        background-repeat: no-repeat; /*prevents the image from repeating*/
        background-position: center; /*keeps the image centered in the div*/
        min-height: 100vh; /*ensure it takes at least the full viewpoint height*/
        height: auto; /*allow it to expand based on content*/
        width: 100%; /*Make sure the div stretches to full length*/
    }

   .containerTwo {
    padding-top: 5rem;
    padding-left: 24rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 3;
    
    text-align: center;
   }

   
   
   body {
       background-color: #010038;
       /*margin: 0;*/
   }
   
   div,
   span {
       display: inline-block;
   }
   
   .second-container {
       text-decoration: none;
   }
   
   .active {
       background-color: #541212;
   }
   
   .top-container {
       color: white;
       padding-left: 10rem;
       
   }
   
   
    .login {
       color: white;
       font-family: 'Montserrat', sans-serif;
       font-weight: bold;
       padding-left: 40rem;
       text-decoration: none;
   } 
   
   ul {
       background-color: black;
       list-style-type: none;
       /*removes the bullets*/
       /*margin: 0;*/
       overflow: hidden;
       /*allowed me to get background color on nav bar to be black */
       /* padding: 0; */
       padding-left: 6rem;
   }
   
   h1 {
       color: white;
       font-family: 'Montserrat', sans-serif;
       line-height: 3;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       padding-top: 1rem;
   }

 
   
   li a {
       color: white;
       font-family: 'Montserrat', sans-serif;
       font-weight: bold;
       text-decoration: none;
       display: block;
       padding: 14px 16px;
       margin-left: 10px;
   }
   
   li {
       background-color: black;
       border-right: 1px solid #bbb;
       float: left;
   }
   
   li a:hover {
       background-color: #111;
   }
   
   hr {
       border-style: none;
       border-top-style: solid;
       color: black;
   }
   

.planetInfo {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.sunPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.mercuryPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.venusPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.saturnPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.plutoPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.neptunePlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.moonPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.marsPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.erisPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.earthPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.ceresPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.jupiterPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.uranusPlanetInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.title {
    color: white;
}



